{% extends 'partials/layout.html'%}
{% load static %}
{% block content %}
<body onload="table()">
    <h1>Productos seleccionados: </h1>
    <table class="table bg-secondary">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Marca</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody id = "tbody">
          {%for product in object_list%}
          <tr id="tr{{product.id}}">
            <th >{{product.name}}</th>
            <td >{{product.brand}}</td>
            <td id = "Price{{product.id}}">{{product.price}}</td>
            <td id="Cantidad{{product.id}}"></td>
            <td id = "Subtotal{{product.id}}"></td>
          </tr>
          {%endfor%}
         
        </tbody>
      </table>

      <div class="row justify-content-center">
        <div class="col-md-4">
            <h3>Total a pagar: </h3>
        </div>
        <div class="col-md-3 col-sm-4 bg-secondary text-center mt-2" id = "total"></div>
      </div>
      
</body>

<div class="row justify-content-center m-3">
    <button class="btn btn-primary col-md-4 m-2">Pagar con Tarjeta</button>
    <a href = "/" class="btn btn-secondary col-md-4 m-2">Cambiar pedido</a>
</div>

    


  <script src = "{% static '/js/main.js' %}"></script>
  {% load static %}
{%endblock%}