{% extends 'partials/layout.html'%}
{% block content %}

<h1>Acerca de Nosotros</h1>

<p> Somos una empresa dedicada a la distribución y venta de productos para animales tanto de granja como mascotas. 20 años de esperienza nos respalda para decir que somo capaces de gesionar una entrega oportuna. También los productos que ofrecemos estan entre los mas buscados y son de alta calidad por la permanencia de estos en el mercado</p>
<p>Busquenos como petstore.com en todas las redes sociales.</p>

{%endblock%}